body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
	
	.box{
		width: 100%;
		height: 100%;
		position: fixed;
		top: 0;
		font-size: 0.24rem;
		display: flex;
		flex-direction: column;
		
	}
		.head{width: 100%;height: 0.88rem;}
			.head>img{width: 100%;height: 100%;display: block;}
		.section{
			flex: 1;
			overflow: auto;
		}
			.section>dl{
				width: 100%;
				display: flex;
				padding: 0.2rem;
				border-bottom: 1px solid #ccc;
				box-sizing: border-box;
			}
				.section>dl>dt{width: 1rem;}
					.section>dl>dt>img{width: 100%;height: auto;display: block;}
				.section>dl>dd{
					flex: 1;
					padding-left: 0.2rem;
					padding-top: 0.05rem;
					box-sizing: border-box;
				}
					.section>dl>dd>p:first-child{
						display: flex;
						justify-content: space-between;
						margin-bottom: 0.06rem;
					}
						.section>dl>dd>p:first-child>span:first-child{font-size: 0.3rem;color: #63748d;}
						.section>dl>dd>p:first-child>span:last-child{color: gray;}
					.section>dl>dd>p:last-child{
						padding-right: 0.4rem;
						box-sizing: border-box;
						display: -webkit-box;
						-webkit-box-orient: vertical;
						-webkit-line-clamp: 1;
						overflow: hidden;
						color: gray;
					}	
		.foot{width: 100%;height: 0.9rem;}
			.foot>img{width: 100%;height: 100%;display: block;}
						
						